@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --height-footer: 3rem;
  --height-top: 13rem;
  --color-1: #2EB086;
  --color-2: #313552;
  --color-3: #F76E11;
  --color-4: #5d617a;
}
.footer {
  min-height: var(--height-footer);
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer > button {
  color: #fff;
}
.inner-sudoku {
  height: calc(100% - var(--height-footer));
  overflow: hidden;
  position: relative;
}
.wrap-top {
  background-color: var(--color-2);
  height: var(--height-top);
}
.btn-solve {
  background-color: var(--color-1);
  color: #fff;
}
.main-game {
  position: absolute;
  top: 4rem;
  width: 100%;
  padding: 15px;
  min-height: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.btn-new {
  cursor: pointer;
  background-color: var(--color-3);
  padding: 4px 8px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
}
.time {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: end;
}
.time h4 {
  font-size: 9pt;
}
.time time {
  font-size: 12pt;
}
.header-game {
  width: 450px;
}
.card-game {
  height: 450px;
  width: 450px;
  display: flex;
  border: 2px solid var(--color-3);
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.card-btn {
  width: 450px;
  height: 50px;
  display: flex;
}
.card-btn button {
  width: 50px;
  height: 50px;
}
.row {
  width: 150px;
  height: 150px;
  float: left;
}
.field {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  color: #fff;
}
.field.genap {
  background-color: var(--color-2);
}
.field.ganjil {
  background-color: var(--color-4);
}
@media screen and (min-width: 1024px){
  .inner-sudoku {
    height: 100%;
  } 
  .main-game {
    left: 50%;
    max-width: 500px;
    width: 450px;
  }
}